<head>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Hotel Tekapa</title>
</head>

<body id="body" style="background-image: url(/static/images/fondotodo.jpg)">

    <div class="topbar">
        <h1 id="title">Admin </h1>
    </div>

    <hr>

    <div name="linkers" class="topnav">
        <nav>
            <a href="{{ url_for('myReservations') }}">All Reservations</a>
            <a href="{{ url_for('eventTable') }}">All events</a>
            <a href="{{ url_for('logout') }}">logout</a>
        </nav>
    </div>

    <div>
        {% block admin%}

        {%endblock admin%}
    </div>

    <div class="social-menu">
        <ul>
            <li><a href="https://www.facebook.com/Tekapa-Hotel-1104252566413048/"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="https://www.instagram.com/tekapahotel/?hl=en"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>

    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>