{%extends 'base.html'%}


{% block custom_body%}

<style>
    div.relative {
        position: relative;
        bottom: -130px;
        right: -100px;
    }
</style>

<div class="relative">
    <h1>How many people would you like to reserve for?</h1>
    <br>
    <form action="{{ url_for('rooms') }}" method="POST">


        <label for="1">1 client</label>
        <input type="radio" name="checkCapacity" value="1" checked><br>
        <label for="2">2 clients</label>
        <input type="radio" name="checkCapacity" value="2"><br>
        <label for="3">3 clients</label>
        <input type="radio" name="checkCapacity" value="3"><br>
        <label for="4">4 clients</label>
        <input type="radio" name="checkCapacity" value="4"><br>
        <label for="5">5 clients</label>
        <input type="radio" name="checkCapacity" value="5"><br>

        <br><br>
        <input type="submit" value="send">
    </form>
</div>

{%endblock custom_body%}