{%extends 'base.html'%}

{% block custom_body%}

<style>
    div.relative {
        position: relative;
        bottom: -140px;
        right: -100px;
    }
</style>


<div class="relative">
    <h1>Client Menu</h1>

    <br>
    <a href="{{ url_for('myReservations') }}"><button type="button" class="btn primary raised">My
            Reservations</button></a>
    <br><br>
    <a href="{{ url_for('checkCapacity') }}"><button type="button" class="btn primary raised">Reserve a
            room</button></a>
    <br><br>
    <a href="{{ url_for('bookEvent') }}"><button type="button" class="btn primary raised">Book event</button></a>
    <br><br>
    <a href="{{ url_for('eventTable') }}"><button type="button" class="btn primary raised">My events</button></a>
</div>




{%endblock custom_body%}