{%extends 'base.html'%}

{% block custom_body%}

<h1>Pick a date</h1>

<form action="{{ url_for('dateBooking') }}" method="POST">
    <label for="birthdaytime">Check in:</label>
    <input type="datetime-local" id="birthdaytime" name="checkin">
    <br><br>
    <label for="birthdaytime">Check out</label>
    <input type="datetime-local" id="birthdaytime" name="checkout">

    <input type="hidden" name="userId" value="{{userId}}">
    <input type="hidden" name="roomId" value="{{roomId}}">
    <input type="submit">
</form>

{%endblock custom_body%}