{%extends 'base.html'%}

{% block custom_body%}

<style>
    div.relative {
        position: relative;
        bottom: -170px;
        right: -100px;
    }
</style>

<div class="relative">

    <h1>Pick a date</h1>
    <br>
    <form action="{{ url_for('dateBooking') }}" method="POST">
        <label for="birthdaytime">Check in:</label>
        <input type="datetime-local" name="checkin">
        <br><br>
        <label for="birthdaytime">Check out</label>
        <input type="datetime-local" name="checkout">

        <input type="hidden" name="userName" value="{{userName}}">
        <input type="hidden" name="roomId" value="{{roomId}}">
        <input type="hidden" name="roomPrice" value="{{roomPrice}}">
        <input type="submit">
    </form>
</div>





{%endblock custom_body%}