<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Hotel Tekapa</title>
</head>

<body style="background-image: url(/static/images/cafe.jpg)">

    <div class="header" style="background-image: url(/static/images/titulo.jpg)">
        <h1>TEKAPA</h1>
        <p>Una nueva experiencia...</p>
    </div>

    <hr>



    <div id="titulos" class="topnav">
        <div id="jumm" name="linkers" class="container">
            <a href="{{ url_for('loginMenu') }}">Login</a>
            <a href="#">Profile</a>
            <a href="{{ url_for('instalaciones') }}">instalaciones</a>
            <a href="#">About us</a>
            <a href="#">Menu</a>
            <a href="#">Contact</a>
        </div>
    </div>
    {% block index%}

    {%endblock index%}
    <br><br>

    <div class="social-menu">
        <ul>
            <li><a href="https://www.facebook.com/Tekapa-Hotel-1104252566413048/"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="https://www.instagram.com/tekapahotel/?hl=en"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>

</body>

</html>