{%extends 'landingPage.html'%}
{% block index%}

<style>
    button {
        appearance: none;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;

    }

    .btn {
        margin: 15px 0;
        padding: 14px 25px;
        background: #eee;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        line-height: 100%;
        border-radius: 3px;
        opacity: 0.9;
        transition: opacity 0.3s ease;
        left: 100px;
    }

    .btn:hover {
        opacity: 1;
    }

    .btn.cta {
        background: #ffdd40;
        color: #222;
        font-weight: 700;
    }

    .btn.primary {
        background: #ddd;
        color: #222;
    }

    .btn.outlined {
        background: none;
        border: 2px solid #ddd;
        color: #ddd;
    }

    .btn.text {
        background: none;
        color: #ddd;
    }

    .btn.raised {
        box-shadow: 0 1px 2px #222;
        transition:
            box-shadow 0.3s ease,
            transform 0.3s ease;
    }

    .btn.raised:hover {
        box-shadow: 0 15px 7px -7px #222;
        transform: translateY(-8px)
    }

    .btn.shinny:hover {
        background-position: 100% 0;
        color: #fff;
    }

    .btn.rotate {
        position: relative;
        background: none;
        color: transparent;
    }
</style>

<div>
    <br>
    <a href="{{ url_for('register') }}"><button type="button" class="btn primary raised">Register</button></a>
    <br><br>
    <a href="{{ url_for('login') }}"><button type="button" class="btn primary raised">Login</button></a>





</div>
{%endblock index%}