<br><br>
<link rel="stylesheet" href="/static/style.css">
<p> </p>

<body style="background-image: url(/static/images/login.jpg)">
    <div>
        <div>
            <div class="container">
                <form action="{{ url_for('logIn') }}" method="post">
                    <h2>Log in</h2>
                    <label for="user">user</label>
                    <input type="text" name="user" id="user" placeholder="user...">
                    <label for="passw">password</label>
                    <input type="text" name="passwd" id="passwd" placeholder="password...">
                    <input type="submit" value="Register">
                </form>
            </div>

            <br>
            <a href="createAccount"><button>Create account</button></a>
            <hr>

            <script src="{{url_for('static', filename='script.js')}}"></script>
        </div>
</body>