{%extends 'base.html'%}

{% block custom_body%}

<head>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        table,
        th,
        td {
            border: 2px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 6px;
            text-align: left;
        }

        div.relative {
            position: relative;
            bottom: -150px;
            right: -60px;
        }
    </style>
</head>

<body>

    <div class="relative">
        <h2>Reservations</h2>

        <table id="myTable" class="myTable" style="width:87%">

            <tr>
                <th>Name</th>
                <th>Room</th>
                <th>checkIn</th>
                <th>checkout</th>
                <th></th>
            </tr>


            {% for room in roomsBooked %}
            {%if room["user_name"] == userName%}
            <tr>
                <td>{{ room["user_name"] }}</td>
                <td>{{ room["room"] }}</td>
                <td>{{ room["checkin"] }}</td>
                <td>{{ room["checkout"] }}</td>
                <td>
                    <form action="{{ url_for('deleteRoom') }}" method="POST">
                        <input type="hidden" name="id" value="{{ room['id'] }}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>


</body>
{%endblock custom_body%}